*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Courier New', Courier, monospace; */
}

body{
background-color:#E3E6E6;


}
nav{
    width: 100%;
    height: 76px;
    background:#131921 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .nav-logo-location-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-left:25px;
}
nav .nav-logo img{
    width: 6rem;
    height: 3rem;
}
nav .location{
    color: white;
    font-weight: 700;
}
nav .location .text-loc{
    color:rgb(209, 204, 204);
    font-size: 14px;
}
/* location  */
nav .location{
    padding:3px;
}
/* search-div  */
nav .search-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* all-side-div */
nav .all-side-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-right:2rem;
    
    
}
/* dropdown-nav-serarch */
nav .search-div .dropdown-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background:#D4D4D4;
    width:3rem;
    height:2.5rem;
    
}
/* search-box-div */
nav .search-div .search-box-div{
    position: relative;
}
/* search bar  */
nav #search-nav{
    width: 36rem;
    height: 2.5rem;
    outline: none;

    /* position: relative; */
}

nav .search-div #search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background:#F3A847;
    width:3rem;
    height:2.4rem;
    z-index: 1;
    margin-right: 30px;
    position: absolute;
    right: -29px;
    top: 1px;
    /* color: white; */
    overflow: hidden;
}
/* .dropdown-language */
nav .dropdown-lang{
    width: 2.5rem;
    height: 68px;
    background:#131921 ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
}

nav .all-side-div .dropdown-lang-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .all-side-div .dropdown-lang-div:hover{
    border:1px solid white;
}
nav .all-side-div .dropdown-lang-div .img-lang{
    width: 30px;
}
/* //sign in account  */
nav .signin{

    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 10rem; */
    /* height: 74px; */
    background:#131921 ;
    color: white;
    border: none;
    
}
nav .signin:hover{
    border:1px solid white;
}
/* text-bold span  */
nav .text-bold{
    font-weight: 700;
    /* font-size: 18px; */
    letter-spacing: normal;
}
nav .signin .up-font-size{
    font-size:14px;
    letter-spacing: normal;
    font-weight: 700;
}
/* //card-icon  */
nav .signin .card-icon{
    width: 10px;
    height: 20px;
}

nav .height-width{
    height: 68px;
}

/* ----------main-nav------------------- */
.main-nav{
    width: 100%;
    height: 40px;
    background:#232F3E;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
/* ---side-manu----- */
.main-nav .side-menu{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 0.5rem;
    color: white;
    width: 4rem;
    height: 2.5rem;
}
.main-nav .side-menu:hover{
    border: 1px solid white;
}
.main-nav .side-menu i{
    font-size: 21px;
}

/* //middle-nav-div */
.main-nav .middle-nav-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.main-nav .middle-nav-div li a{
    text-decoration: none;
    color: white;
    padding: 6px 2px 6px 2px;
    
}
.main-nav .middle-nav-div li a:hover{
    border: 1px solid white;
}
.main-nav .middle-nav-div li{
    list-style: none;
}
/*
 ----right-div----- */
.main-nav .right-div a{
    text-decoration: none;
    color: white;
    /* padding: 12px 12px; */
    padding: 2px 1px 2px 1px;
}
.main-nav .right-div a:hover{
    border: 1px solid white;
}
/* ///--slider---- */
 header .slider{
    /* background: red; */
    width: 100%;
    /* height:; */
    display: flex;
    background: #0064FA;
    /* overflow: auto; */
}
header .slider img{
    width: 100%;
}

/* ////-----section --card------------- */
main .card{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    overflow: auto;
    /* background-color: #545555; */
}
main .card  .card1{
    background: white;
    width: 22rem;
    height: 29rem;
    box-shadow: 0 4px 10px rgba(108, 104, 104, 0.2);
    padding: 20px;
    border-radius: 3px;
}
main .card  .card1 .grid-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    /* background-color: yellow; */
}
main .card  .card1 .grid-container .card-item{
    /* background: #4CAF50; */
    /* color: white; */
    text-align: center;
    width: 9rem;
    height: 11rem;
    /* font-size: 18px; */
    border-radius: 5px;
}
main .card  .card1 .grid-container .card-item img{
    width: 100%;
    height: 60%;
}
main .card  .card1 .grid-container .card-item #prime{
    width: 100%;
    height: 30%;
}
main .card  .card1 .shopNow{
    margin-top: 20px;
    color:#163B5A ;
}
main .card  .card1 .prime-card .prime-item #prime1{
    width: 20rem;
    height: 22rem;
}
main .card  .card1 h1{
    text-align: center;
    margin-bottom: 5px;
}

/* -------section-2--slider-1--------- */
 .slider-rounded-1{
    /* width: 90%; */
    margin-top: 25px;
    margin-right: 24px;
    margin-left: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;  
    background: white;
    box-shadow: 0 4px 10px rgba(108, 104, 104, 0.2);
    overflow: auto;
}

.slider-rounded-1 .slide-round{
    /* width:20px; */
    border-radius: 50%;
}
.outer-slider-rounded-2{
    margin-top: 25px;
    margin-right: 24px;
    margin-left: 24px;
    overflow: auto;
    /* display: flex; */
    /* justify-content: space-around; */
    /* align-items: center;   */
    background: white;
    box-shadow: 0 4px 10px rgba(108, 104, 104, 0.2);
}
.outer-slider-rounded-2 p{
    font-size: 20px;
    padding-top: 10px;
    margin-left: 10px;
}
.shopNow{
    color:#163B5A ;
}

/* ---------pre-container----------- */
main .pre-container{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    box-shadow: 0 4px 10px rgba(108, 104, 104, 0.2);
    background: white;
}
main .pre-container .border-line{
    width: 100%;
    height: 34vh;
    margin-top: 10px;
    margin-bottom: 10px;
    /* border-top: 1px solid gray;
    border-bottom: 1px solid gray; */
    box-shadow: 0px 1px 3px gray, 1px 0px 6px gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    z-index: 3;
}
main .pre-container .border-line .sign{
    width: 14rem;
    background:yellow;
    height: 32px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}
/* ---------foooter------------ */
footer {
    width: 100%;
    height: 100vh;
    /* background:black; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */

}
footer .Back-to-top{
    width: 100%;
    height: 15vh;
    background: #485769;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
footer .Back-to-top:hover{
    background: #485769 ;
}

footer .footer-middle{
    width: 100%;
    height:50vh;
    /* margin-top: 20px; */
    background: #232F3E;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}
footer .footer-middle .footer-middle-text{
    color: white;
    margin-top: 30px;
    
}
footer .footer-middle .footer-middle-text p{
    font-size: 17px;
    color: white;
    font-weight: bold;
}
footer .footer-middle .footer-middle-text a{
 color: white;
 text-decoration: none;
 padding-top: 7px;
padding-bottom: 8px;
font-weight: 100; 
line-height: 31px;
}
footer .footer-middle .footer-middle-text a:hover{
    text-decoration: underline;
    /* color: blue; */
}
footer .footer-middle .emty-div{
    width: 20px;
    height: 30px;
}
/* ///navline-footer */
footer .navfooter-line{
    width: 100%;
    height:28vh;
    background:#232F3E ;
    border-top: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .navfooter-line .navline{
display: flex;
justify-content: center;
align-items: center;
}
footer .navfooter-line .navline img{
    width:12rem;
    height:20vh;
    margin-left: 10px;
}
footer .navfooter-line .navline .langnav-div a{
    color: white;
    margin: 7px;
    text-decoration: none;
    padding: 8px 23px;
    border: 1px solid white;
}

footer .lastfooter{
    width: 100%;
    height: 84vh;
    background:#131A22;
    display: flex;
    justify-content: center;
}
footer .lastfooter .lastfooter-inner{
    width: 90%;
    height: 76vh;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    flex-direction: column;
    
}
footer .lastfooter .lastfooter-inner ul{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
footer .lastfooter .lastfooter-inner ul li{
  list-style: none;
  margin: 20px;
}
footer .lastfooter .lastfooter-inner ul li a{
    color: white;
    text-decoration: none;
}
footer .lastfooter .lastfooter-inner ul li a:hover{
    text-decoration: underline;
}

footer .lastfooter .lastfooter-inner ul li a span{
    display: block;
    color: gray;
    max-width: 13ch; /* Approx. 10 words */
    word-wrap: break-word; 
    overflow-wrap: break-word
    
}
footer .navfooter-copy-right{
    width: 100%;
    display: flex;
    background:#131A22;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer .navfooter-copy-right ul{
    display: flex;
    justify-content: center;
}
footer .navfooter-copy-right ul li{

     list-style: none;
}
footer .navfooter-copy-right ul li a{
    text-decoration: none;
    color: white;
    margin: 10px;
}
footer .navfooter-copy-right span{
    color:white;
}